.roadmapCard {
    background-color: rgb(237, 244, 242);
    border-color: #4f7e5c;
    min-height: 162px;
    max-height: 200px;
}

.user {

    transition: color 0.3s ease-in-out;
}


.user:hover {
    color: #01b009;
}
